<footer class="page-footer transparent">
    <div class="container">
      <div class="row">

        <div class="col s6 l4 center">
             <button class="btn-floating pink darken-3"><i class="material-icons ">mail</i></button>
             <br><br>
             <p class="blue-grey-text">admin@quickstore.com</p>
             <p class="blue-grey-text">support@quickstore.com</p>
        </div>

        <div class="col s6 l4 center">
            <button class="btn-floating pink darken-3"><i class="material-icons">phone</i></button>
            <br><br>
            <p class="blue-grey-text">+263788087041</p>
            <p class="blue-grey-text">+263733431854</p>
       </div>
    
       <div class="col s6 l4 center">
        <button class="btn-floating pink darken-3"><i class="material-icons">home</i></button>
        <br><br>
        <p class="blue-grey-text">Our address will go here</p>
        <p class="blue-grey-text">Our other address goes here</p>
       </div>

      </div>
    </div>
    <br>
    <div class="footer-copyright blue-grey darken-2">
      <div class="container">
      <a class="blue-grey-text text-lighten-3 left" href="#!">&copy; 2020 QuickStore</a>
      <a class="blue-grey-text text-lighten-2 left" href="#!">&nbsp; by Tafadzwa Marshal Manhanga</a>   
      <a class="grey-text text-lighten-4 right ml-5" href="#!"><em><i class="fa fa-facebook"></i></em></a>
      <a class="grey-text text-lighten-4 right ml-5" href="#!"><em><i class="fa fa-instagram"></i></em></a>
      <a class="grey-text text-lighten-4 right ml-5" href="#!"><em><i class="fa fa-youtube"></i></em></a>
      <a class="grey-text text-lighten-4 right ml-5" href="#!"><em><i class="fa fa-twitter"></i></em></a>
      </div>
    </div>
  </footer>